.wp-block-tabs {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: var(--wp--style--unstable-tabs-gap, var(--wp--style--tabs-gap-default));
	box-sizing: border-box;

	.tabs__title {
		display: none;
	}

	.tabs__list {
		display: flex;
		list-style: none;
		margin: 0;
		padding: 0;
		align-items: flex-end;
		flex-grow: 1;
		flex-basis: 100%;
		gap: var(--wp--style--unstable-tabs-list-gap, var(--wp--style--tabs-gap-default));

		.tabs__tab-label {
			box-sizing: border-box;
			display: block;
			width: max-content;
			margin: 0;
			opacity: 0.5;
			padding: var(--wp--preset--spacing--20) var(--wp--preset--spacing--30);
			text-decoration: none;
			cursor: pointer;
			background-color: var(--custom-tab-inactive-color, transparent);
			color: var(--custom-tab-text-color, #000);
			&:focus {
				outline: none;
			}
			&:hover {
				opacity: 1;
				background-color: var(--custom-tab-hover-color, #eaeaea);
				color: var(--custom-tab-hover-text-color, #000);
			}
			&[aria-selected="true"] {
				opacity: 1;
				background-color: var(--custom-tab-active-color, #000);
				color: var(--custom-tab-active-text-color, #fff);
			}
		}
	}

	&:not(.is-vertical) {
		.tabs__list {
			overflow-x: auto;
			border-bottom: 1px solid var(--custom-tab-active-color, #000);
		}
	}

	&.is-vertical {
		flex-wrap: nowrap;
		.tabs__list {
			flex-grow: 0;
			flex-direction: column;
			max-width: 30%;
			border-right: 1px solid var(--custom-tab-active-color, #000);
			border-bottom: none;
			overflow-x: hidden;
		}
		.tabs__list-item,
		.tabs__tab-label {
			max-width: 100%;
		}
		.tabs__list-item {
			border-bottom-width: inherit;
		}
		.tabs__tab-label {
			text-align: right;
		}
	}
}

// Outline style.
.wp-block-tabs.is-style-outline {
	&:not(.is-vertical) {
		.tabs__list {
			border-bottom: 1px solid var(--custom-tab-active-color, #000);
		}
	}
	&.is-vertical {
		.tabs__tab-label {
			border-right: none;
			&:hover {
				border-bottom-color: var(--custom-tab-hover-color, #000);
			}
			&[aria-selected="true"] {
				border-bottom-color: var(--custom-tab-active-color, #000);
			}
		}
	}
	.tabs__tab-label {
		border-top: 1px solid var(--custom-tab-inactive-color, transparent);
		border-left: 1px solid var(--custom-tab-inactive-color, transparent);
		border-right: 1px solid var(--custom-tab-inactive-color, transparent);
		border-bottom: 1px solid var(--custom-tab-inactive-color, transparent);
		color: var(--custom-tab-text-color, #000);
		background-color: transparent;
		&:hover {
			border-top-color: var(--custom-tab-hover-color, #000);
			border-left-color: var(--custom-tab-hover-color, #000);
			border-right-color: var(--custom-tab-hover-color, #000);
			border-bottom-color: var(--custom-tab-hover-color, #000);
			color: var(--custom-tab-hover-text-color, #000);
			background-color: transparent;
		}
		&[aria-selected="true"] {
			border-top-color: var(--custom-tab-active-color, #000);
			border-left-color: var(--custom-tab-active-color, #000);
			border-right-color: var(--custom-tab-active-color, #000);
			border-bottom-color: var(--custom-tab-active-color, #000);
			color: var(--custom-tab-active-text-color, #000);
			background-color: transparent;
		}
	}
}
